.navbar{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
}
.image img{
    height: 40px;

}
.link{
   display: flex;
   gap: 10px;
   margin-left: 140px;


}
.link a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
.link a:hover{
    color: #fbbf24;
}
.btn{
    background-color: #9f9696;
    padding: 7px;
    border-radius: 8px;
}
.btn:hover{
    background-color: #bab843;
}
